*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #314b57;
    display: flex;
    justify-content: center;
}
main{
    max-width: 1200px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.headerAreaOne{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding:8px;
}
.headerAreaOneServices{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 12px;
    padding:0 8px
}
.headerText{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.serviceSection{
    padding: 24px 12px;
}
.serviceAreaH1{
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
    color: hsl(0, 64%, 29%);
    text-transform: uppercase;
}
.serviceAreaOne{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.serviceAreaOneText1{
    line-height: 24px;
    
}
.serviceAreaOneTextSpan{
    font-weight: 900;
}
.serviceAreaOneList{
    list-style: none;
    ;
}
.serviceAreaOneList>li>a{
    color: #ab3c3c;
    text-decoration: none;
}
.articlesSection{
    padding: 24px 12px;
}
.articlesSectionH2{
    font-size: 28px;
    color: hsl(0, 64%, 29%);
}
.articlesDisplay{
    display: flex;
    gap: 16px;
    padding: 24px 0;
}
.articleDiv{
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    gap: 12px;
}
.articleDiv>a{
    color: #ab3c3c;
    text-decoration: underline;
    
}
@media screen and (max-width:810px) {
    header{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .articlesDisplay{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width:428px) {
    .serviceAreaOne{
        display: flex;
        flex-wrap: wrap;
    }
    /* .articlesDisplay{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } */
}